<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UsercourseDao" >
  <resultMap id="BaseResultMap" type="com.my.domain.UserCourse" >
    <id column="userId" property="userId" jdbcType="VARCHAR" />
    <id column="courseId" property="courseId" jdbcType="BIGINT" />
  </resultMap>


  <insert id="insert" parameterType="com.my.domain.UserCourse" >
    insert into usercourse (userId, courseId)
    values (#{userid,jdbcType=VARCHAR}, #{courseid,jdbcType=VARCHAR})
  </insert>






</mapper>